# git ignore file
Project.sln
Project.suo
Project/TestTransaction2.csproj 	
Project/TestTransaction2.csproj.user
Project/TestTransaction2.suo
Project/GenerateCode/GenerateCode.suo
Project/GenerateCode/Xsd2Code.Library/obj/Debug
Project/GenerateCode/obj/Debug

greg/LitleSdkForNet/LitleSdkForNet/bin
greg/LitleSdkForNet/LitleSdkForNet/obj
greg/LitleSdkForNet/LitleSdkForNetTest/bin/Debug/LitleSdkForDotNetTest.exe
greg/LitleSdkForNet/LitleSdkForNetTest/bin/Release/LitleSdkForDotNet.pdb
greg/LitleSdkForNet/LitleSdkForNetTest/obj
