<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Litle.Sdk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LitleSdkForNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Litle.Sdk.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>https://www.testlitle.com/sandbox/communicator/online</value>
            </setting>
            <setting name="reportGroup" serializeAs="String">
                <value>Default Report Group</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>dotnet</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>dotnet</value>
            </setting>
            <setting name="printxml" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>8.12</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="proxyHost" serializeAs="String">
                <value>smoothproxy</value>
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="merchantId" serializeAs="String">
                <value>101</value>
            </setting>
        </Litle.Sdk.Properties.Settings>
        <LitleSdkForNet.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>https://www.testlitle.com/sandbox/communicator/online</value>
            </setting>
            <setting name="reportGroup" serializeAs="String">
                <value>Default Report Group</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>gregdake</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>dotnet</value>
            </setting>
            <setting name="printxml" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>8.10</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="proxyHost" serializeAs="String">
                <value>smoothproxy</value>
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="merchantId" serializeAs="String">
                <value>101</value>
            </setting>
        </LitleSdkForNet.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
